{% extends 'base.html.twig' %}

{% block title %}Maintenance{% endblock %}

{% block body %}

    <section>

        <h1>Votre site est en maintenance</h1>
        <p>Revenez plus-tard</p>

    </section>

{% endblock %}